html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", Helvetica, sans-serif;
    position: absolute;
}

.-crement-button {
    border-radius: 100%;
    height: 10vh;
    width: 10vh;
    background-color: #7a0019;
    border: 5px solid #5a0000;
    box-sizing: border-box;
    color: white;
    font-size: 200%;
    transition-duration: 0.5s;
    cursor: pointer;
    position: absolute;
}

.-crement-button:hover {
    transform: scale(1.05);
    background-color:  #ffcc33;
    border-color: #dfaf13;
}

.-crement-button:active {
    transform: scale(1);
}

.nav-bar {
    clip-path: polygon(
        0% 0%,
        70% 0%,
        65% 100%,
        0% 100%
    );
    width: 100%;
    background-color: #7a0019;
    display: flex;
    flex-direction: row;
}

.car-name {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    color: white;
    font-size: 150%;
    user-select: none;
}

.logo {
    height: 10vh;
    cursor: pointer;
}

.abs-pos {
    width: 100%;
    height: 100%;
    position: absolute;
}

.nav-bar-gold {
    width: 100%;
    height: 10%;
    background-color: #ffcc33;
}

.body-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.increment {
    bottom: 2vw;
    right: 2vw;
}

.decrement {
    bottom: 2vw;
    left: 2vw;
}

.tooth-number {
    font-size: 1000%;
    cursor: default;
}

.subtext {
    color: black;
    font-weight: bold;

}

.credit {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 1%;
}

.credit span {
    color: #7a0019;
    user-select: auto;
    cursor: default;
}
