html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    font-family: Helvetica, sans-serif;
    color: white;
    position: absolute;
    top: 0.5vh;
    left: 1vw;
    display: none;
    user-select: none;
}